h1{
    color : black;
    background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border:5px solid black;
    border-radius: 1em;
}
.texte:hover
{
    color : white;
}
 
.texte
{
    color : black;
    background-color: white;
    padding-left: 2em;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    border:5px solid black;
    border-radius: 1em;

}
.zoom p {
    text-align:center;
}
.zoom img {
    width:20em;
    height:10em;
}
.zoom img:hover {
    width:30em;
    height:20em;
}

body {
    color:black;
    background-color:white;
    background-image:url(bg.jpeg);
    font-size: 1.3em;
    font-family: diplomata cs liberation serif;
}