body {
    color:black;
    background-color:white;
    background-image:url(bg.jpeg);
}
form{   
    margin-top: 1em;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
    border:5px solid black;
    border-radius: 1em;
    background-color: white;
    font-size: 1.3em;
    font-family: diplomata cs liberation serif;
}
.debut {
    padding-top: 1em;
}
.form-inline{
    padding: 1em;
    border:3px solid black;
    border-radius: 1em;
    font-size: 0.8em;
} 
img{
    height: 10em;
    width: 20em;
}